html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}


.wrapper {
    width: 50%;
    margin: 0 auto;
}

.contact {
    display: flex;
    padding: 5% 0% 5% 0%;
}

.contact--image {
    padding-right: 10%;
}

.contact--image img {
    width: 150px;
}

.contact--info {
    display: flex;
    flex-direction: column;
}

.contact--title {}

.contact--link {}

.education {
    border-top: 2px solid black;

}

.education--title {
    color: black;
    outline: 0;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 20px 6px;
}

.education--arrow {
    height: 20px;
    width: 20px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    transform: rotate(-135deg);
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -ms-transition: -ms-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
}

.education--open {
    display: none;
    /*     height: 20px;
    width: 20px; */
}

.projects {
    position: relative;
    border: 1px solid black;
}

.projects--swiper {
    margin: 3% 10%;
    border: 1px solid black;
}

.projects--title {
    /*     border-top: 2px solid black;
    padding-top: 22px; */

}

.swiper-container {
    width: 80%;
    height: 400px;
}

.slider {}

.slider--slide {
    display: flex;

    margin: 0 auto;
}

.slider--slide_description {
    display: flex;
    width: 36%;
    flex-direction: column;
    background: lightyellow;
    justify-content: space-between;
    align-items: center;
}

.slider--slide_description_title {
    font-size: 30px;
    text-align: center;
}

.slider--slide_description_list {
    font-size: 20px;
    line-height: 30px;
}

.slider--slide_description_btn {
    width: 80%;
    height: 20%;
    background: lightgreen;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0 5%;
    margin-bottom: 10%;
}

.slider--view_link {
    width: 64%;

}

.slider--view {

    object-fit: cover;
}

.slider--description {
    display: none;
}

.site_view {
    display: flex;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 13;
}

.site_view_wrapper.active {
    display: flex;
    justify-content: center;
    position: fixed;
    background: lightgray;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12;
}

.site_view_wrapper.active.mobile>.site_view {
    width: 375px;
}


.site_view_wrapper {
    display: none;

}






.change_state_btn {
    display: none;
}

.change_state_btn.active {
    display: flex;
    justify-content: center;
    outline: 0;
    align-items: center;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    position: fixed;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: white;
    right: 15%;
    bottom: 25%;
    z-index: 14;
}


.back_btn {
    display: none;
}

.back_btn.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    position: fixed;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: white;
    right: 15%;
    bottom: 10%;
    z-index: 13;
}

.toggle-content {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 550ms ease-in-out;
}

.toggle-content.is-visible {
    display: block;
    height: auto;
}

@media (max-width:1200px) {
    .wrapper {
        width: 60%;
    }
}

@media (max-width:1000px) {
    .wrapper {
        width: 70%;
    }
}

@media (max-width:900px) {
    .wrapper {
        width: 80%;
    }
}

@media (max-width:700px) {
    .wrapper {
        width: 100%;
    }
}

@media (max-width:600px) {
    .slider--slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .slider--slide_description {
        display: none;
    }

    .slider--slide_description.active {
        display: flex;
        position: absolute;
        width: 60%;
        height: 70%;

        z-index: 16;
    }


    .slider--description {
        display: flex;
        justify-content: center;
        min-width: 198px;
        border-radius: 7px;
        position: absolute;
        font-size: 20px;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        text-decoration: none;
        background: lightgray;
        z-index: 14;
    }

    .change_state_btn.active {
        display: none;
    }

    .slider--description:hover {
        -webkit-box-shadow: 6px 4px 18px -3px rgba(255,255,255,1);
        -moz-box-shadow: 6px 4px 18px -3px rgba(255,255,255,1);
        box-shadow: 6px 4px 18px -3px rgba(255,255,255,1);
    }

    .slider--view_link {
        width: 100%;
        height: 100%;
    }

    .projects--swiper {
        margin: 0;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .swiper-container {
        width: 100%;

    }
}